<footer class="site-footer">
  <div class="wrapper">
    <div class="footermargin">

      <ul>
        {% for tags in page.tags %}
          <li>{{ tags }}</li>
        {% endfor %}
      </ul>

      <div id="posone">
        <div class="up">
          <a href="#"><img src="/assets/up.png"></a>
        </div>
      </div>

      <div class="line">
        <hr class="slender">
      </div>

      <div class="social">
        <span class="button"><a href="https://twitter.com/mo_tom"><img src="/assets/twitter.png"><span class="popover">follow me on twitter</span>
      </div>

      <div class="last">
        <a href="{{ site.url }}">&copy;2015</a>
      </div>
      
    </div>
  </div>
</footer>
